body {
    background-color: #239f85;
}
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="number"] {
    width: 400px;
    padding: 5px;
    border-radius: 4px;
  }
  input[type="date"] {
    width: 400px;
    padding: 5px;
    border-radius: 4px;
  }
  .submit-button {
    font-size: 18px;
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .Goals-container {
    margin-left: 700px;
    margin-top: -40px;
  }
  .Health-goals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    background-color: white;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
  }
  .loading {
    font-weight: bolder;
  }
  .summary {
    text-align: left;
  }
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    background-color: aquamarine;
    border-radius: 8px;
    padding-left: 10px;
  }
  
  th,
  td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -500px;
  }
  .submit-button:hover {
    background-color: #45a049;
  }
  .image-container {
    justify-content: center;
    padding-right: 0;
    margin-bottom: 20px;
    float: left;
    margin-bottom: 20px;
    width: 600px; 
    margin-right: 20px;
    display: flex;
    margin-left: 10px;
    margin-right: 600px;
  }
  .image-container img {
    width: 100%; 
    height: auto;
    margin-right: 10px; 
  }
  